.shyBall{
    width: 100%;
    height: 100vh;
    position: relative;
}

.ball{
    transition: 1s ease;/*permite a transição dinamica do componente*/
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(245, 146, 146);
    top: 5vw;
    left: 15vh;
    border-radius: 50%;
}